apiVersion: apps/v1
kind: Deployment
metadata:
  name: work11-deployment
  # namespace: app
  labels:
    app: backend
spec:
  replicas: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 60%
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - image: nginx:1.28
          name: nginx      
        - image: wbitt/network-multitool
          name: multitool
          env:
            - name: HTTP_PORT
              value: "8080"
            - name: HTTPS_PORT
              value: "8443"