#cloud-config
users:
- name: ${user_name}
  groups: sudo
  shell: /bin/bash
  sudo: 'ALL=(ALL) NOPASSWD:ALL'
  ssh_authorized_keys:
  - ${pub_ssh_key}
package_update: true
package_upgrade: false
runcmd:
%{for i in run_cmd ~}
  - ${i}
%{endfor ~}