apiVersion: apps/v1
kind: Deployment
metadata:
  name: work3-t1-deployment
  labels:
    env: test
    app: web
spec:
  replicas: 2
  selector:
    matchLabels:
      env: test
      app: web
  template:
    metadata:
      labels:
        env: test
        app: web
    spec:
      containers:
        - image: nginx
          name: nginx
        - image: wbitt/network-multitool
          name: multitool
          env:
            - name: HTTP_PORT
              value: "8080"
            - name: HTTPS_PORT
              value: "8443"