apiVersion: apps/v1
kind: Deployment
metadata:
  name: work4-t1-deployment
  labels:
    env: test
    app: work4-t1-app
spec:
  replicas: 3
  selector:
    matchLabels:
      env: test
      app: work4-t1-app
  template:
    metadata:
      labels:
        env: test
        app: work4-t1-app
    spec:
      containers:
        - image: nginx
          name: nginx
        - image: wbitt/network-multitool
          name: multitool
          env:
            - name: HTTP_PORT
              value: "8080"
            - name: HTTPS_PORT
              value: "8443"