sources:
  docker_logs_source:
    type: docker_logs

transforms:
  remove_compose_label:
    type: remap
    inputs:
      - docker_logs_source
    source: |
      del(.label."com.docker.compose.project")

sinks:
  elasticsearch:
    type: elasticsearch
    inputs:
      - remove_compose_label
    endpoints: [https://elasticsearch-01:9200]
    api_version: v8
    auth:
      strategy: basic
      user: elastic
      password: ${ELASTIC_PASSWORD}
    tls:
      ca_file: /etc/vector/certs/ca/ca.crt
      verify_certificate: false
    bulk:
      index: docker-logs
